In [6]:
import pandas as pd
import numpy as np


loc = "MERGED2016_17_PP.csv"
dfraw = pd.read_csv(loc)
dfraw.head()

/home/nbuser/anaconda3_420/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (6,9,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,D150_4_LOANNOPELL,C150_L4_LOANNOPELL,D150_L4_LOANNOPELL,C150_4_NOLOANNOPELL,D150_4_NOLOANNOPELL,C150_L4_NOLOANNOPELL,D150_L4_NOLOANNOPELL,GT_28K_P10,GT_28K_P8,GT_28K_P6
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www2.aamu.edu/scripts/netpricecalc/npcalc.htm,...,195.0,NaN,NaN,0.3258,89.0,NaN,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,...,229.0,NaN,NaN,0.5603,630.0,NaN,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,NaN,NaN,NaN,0.5000,2.0,NaN,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,135.0,NaN,NaN,0.5606,264.0,NaN,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,...,55.0,NaN,NaN,0.2277,101.0,NaN,NaN,NaN,NaN,NaN

In [7]:
df = dfraw[["REGION", "PREDDEG", "C100_4", "NPT4_PUB","MN_EARN_WNE_P10"]]
df.columns = ["Region", "Predominate_Degrees", "Complete", "Tuition", "Earnings"]

df.head()

   Region  Predominate_Degrees  Complete  Tuition  Earnings
0       5                    3    0.0643  15567.0       NaN
1       5                    3    0.3018  16475.0       NaN
2       5                    3    0.1429      NaN       NaN
3       5                    3    0.1533  19423.0       NaN
4       5                    3    0.0725  15037.0       NaN

In [8]:
df2 = df[df["Predominate_Degrees"] != 0]
df2.head()

   Region  Predominate_Degrees  Complete  Tuition  Earnings
0       5                    3    0.0643  15567.0       NaN
1       5                    3    0.3018  16475.0       NaN
2       5                    3    0.1429      NaN       NaN
3       5                    3    0.1533  19423.0       NaN
4       5                    3    0.0725  15037.0       NaN

In [9]:
df2['Region'].replace({0: 'U.S. Service Schools', 1 :'New England', 2: 'Mid East', 3: 'Great Lakes', 4: 'Plains', 5: 'Southeast', 6: 'Southwest', 7: 'Rocky Mountains', 8: 'Far West', 9: 'Outlying ares'},inplace=True)
df2['Predominate_Degrees'].replace({1 : 'certificate-degree', 2: 'associate', 3: 'bachelor-degree', 4: 'Graduate degree'},inplace=True)
df2.head()

/home/nbuser/anaconda3_420/lib/python3.5/site-packages/pandas/core/generic.py:3554: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

      Region Predominate_Degrees  Complete  Tuition  Earnings
0  Southeast     bachelor-degree    0.0643  15567.0       NaN
1  Southeast     bachelor-degree    0.3018  16475.0       NaN
2  Southeast     bachelor-degree    0.1429      NaN       NaN
3  Southeast     bachelor-degree    0.1533  19423.0       NaN
4  Southeast     bachelor-degree    0.0725  15037.0       NaN

In [10]:
pd.pivot_table(df2, index=['Region','Predominate_Degrees'],
aggfunc='mean',
values=['Region', 'Predominate_Degrees','Complete','Tuition', 'Earnings'])

                                          Complete  Earnings       Tuition
Region               Predominate_Degrees
Far West             Graduate degree           NaN       NaN           NaN
                     associate            0.332456       NaN   6755.428571
                     bachelor-degree      0.364833       NaN  12476.642857
                     certificate-degree   0.288000       NaN   7638.113208
Great Lakes          Graduate degree           NaN       NaN           NaN
                     associate            0.169155       NaN   7425.130000
                     bachelor-degree      0.362901       NaN  14620.000000
                     certificate-degree   0.000000       NaN  10053.023529
Mid East             Graduate degree           NaN       NaN           NaN
                     associate            0.278765       NaN   8499.030928
                     bachelor-degree      0.389311       NaN  16421.102041
                     certificate-degree   0.492675       NaN  13756.676923
New England          Graduate degree           NaN       NaN           NaN
                     associate            0.238333       NaN   9588.581395
                     bachelor-degree      0.498908       NaN  16198.975000
                     certificate-degree   0.750000       NaN  13425.705882
Outlying ares        Graduate degree           NaN       NaN           NaN
                     associate            0.111564       NaN   2994.454545
                     bachelor-degree      0.097698       NaN   5491.857143
                     certificate-degree   0.094250       NaN    991.000000
Plains               Graduate degree      0.000000       NaN           NaN
                     associate            0.175448       NaN   9025.658824
                     bachelor-degree      0.350548       NaN  14392.811321
                     certificate-degree   0.438100       NaN  11767.872340
Rocky Mountains      Graduate degree           NaN       NaN           NaN
                     associate            0.178025       NaN   8149.750000
                     bachelor-degree      0.250179       NaN  14884.285714
                     certificate-degree   1.000000       NaN   8202.300000
Southeast            Graduate degree           NaN       NaN           NaN
                     associate            0.216206       NaN   6938.406250
                     bachelor-degree      0.305918       NaN  13553.108108
                     certificate-degree   0.193958       NaN   6945.752336
Southwest            Graduate degree           NaN       NaN           NaN
                     associate            0.165527       NaN   6931.965517
                     bachelor-degree      0.254297       NaN  11817.450000
                     certificate-degree   0.373820       NaN   5860.438356
U.S. Service Schools bachelor-degree      0.692100       NaN   6866.000000