In [93]:
import pandas as pd
import numpy as np

loc = "MERGED2016_17_PP.csv"

dfraw = pd.read_csv(loc)

C:\Users\isaac\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (6,9,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [94]:
dfraw.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,D150_4_LOANNOPELL,C150_L4_LOANNOPELL,D150_L4_LOANNOPELL,C150_4_NOLOANNOPELL,D150_4_NOLOANNOPELL,C150_L4_NOLOANNOPELL,D150_L4_NOLOANNOPELL,GT_28K_P10,GT_28K_P8,GT_28K_P6
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www2.aamu.edu/scripts/netpricecalc/npcalc.htm,...,195.0,NaN,NaN,0.3258,89.0,NaN,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,...,229.0,NaN,NaN,0.5603,630.0,NaN,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,NaN,NaN,NaN,0.5000,2.0,NaN,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,135.0,NaN,NaN,0.5606,264.0,NaN,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,...,55.0,NaN,NaN,0.2277,101.0,NaN,NaN,NaN,NaN,NaN

In [110]:
dfraw.shape

(7175, 1847)

### There are a ridiculous number of columns here, so lets grab some interesting variables and put them in their own dataframe

In [95]:
df = dfraw[["C100_4", "NPT4_PUB"]]
df.columns = ["completion", "public_school_tuition"]

In [96]:
df.head()

   completion  public_school_tuition
0      0.0643                15567.0
1      0.3018                16475.0
2      0.1429                    NaN
3      0.1533                19423.0
4      0.0725                15037.0

In [97]:
df.corr()

                       completion  public_school_tuition
completion               1.000000               0.515731
public_school_tuition    0.515731               1.000000

### Joy suggested that INEXPFTE (instructional expenditures per full-time student) and ADM_RATE (admissions rate) are correlated with completion rates, so lets add those to the dataframe and run the correlation

In [98]:
df["expenditures_per_student"] = dfraw["INEXPFTE"]
df["adm_rate"] = dfraw["ADM_RATE"]

C:\Users\isaac\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\isaac\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### I suggest looking at pell_grant_rate, and loan_principal. The intuition is that if you qualify for pell you're from a disadvantaged background and less likely to graduate

In [99]:
df["pell_grant_rate"]=dfraw["PCTPELL"]

C:\Users\isaac\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [100]:
df.head()

,completion,public_school_tuition,expenditures_per_student,adm_rate,pell_grant_rate
0,0.0643,15567.0,5888.0,0.8738,0.7039
1,0.3018,16475.0,17055.0,0.5814,0.3525
2,0.1429,NaN,5417.0,NaN,0.6971
3,0.1533,19423.0,10558.0,0.7628,0.2949
4,0.0725,15037.0,7889.0,0.4590,0.7815

In [101]:
df.corr()

,completion,public_school_tuition,expenditures_per_student,adm_rate,pell_grant_rate
completion,1.000000,0.515731,0.459406,-0.306999,-0.569687
public_school_tuition,0.515731,1.000000,0.292337,0.062488,-0.072446
expenditures_per_student,0.459406,0.292337,1.000000,-0.253013,-0.282385
adm_rate,-0.306999,0.062488,-0.253013,1.000000,0.145925
pell_grant_rate,-0.569687,-0.072446,-0.282385,0.145925,1.000000

### These results are promising so far, let's remove NaN observations and run a regression

In [102]:
df.dropna(inplace = True)
df.head()

C:\Users\isaac\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,completion,public_school_tuition,expenditures_per_student,adm_rate,pell_grant_rate
0,0.0643,15567.0,5888.0,0.8738,0.7039
1,0.3018,16475.0,17055.0,0.5814,0.3525
3,0.1533,19423.0,10558.0,0.7628,0.2949
4,0.0725,15037.0,7889.0,0.4590,0.7815
5,0.4385,21676.0,10478.0,0.5259,0.1938

### Next let's run a regression and see what the results are

In [103]:
import statsmodels.formula.api as sm

reg1 = sm.ols(formula='completion ~ public_school_tuition + expenditures_per_student + adm_rate + pell_grant_rate', data=df).fit()
reg1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             completion   R-squared:                       0.513
Model:                            OLS   Adj. R-squared:                  0.510
Method:                 Least Squares   F-statistic:                     141.9
Date:                Fri, 19 Oct 2018   Prob (F-statistic):           1.01e-82
Time:                        22:40:15   Log-Likelihood:                 379.80
No. Observations:                 543   AIC:                            -749.6
Df Residuals:                     538   BIC:                            -728.1
Df Model:                           4
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                    0.2612      0.043      6.055      0.000       0.176       0.346
public_school_tuition     1.209e-05   1.43e-06      8.459      0.000    9.29e-06    1.49e-05
expenditures_per_student  1.211e-05   1.33e-06      9.125      0.000     9.5e-06    1.47e-05
adm_rate                    -0.1616      0.032     -5.037      0.000      -0.225      -0.099
pell_grant_rate             -0.4007      0.044     -9.025      0.000      -0.488      -0.313
==============================================================================
Omnibus:                        9.553   Durbin-Watson:                   1.527
Prob(Omnibus):                  0.008   Jarque-Bera (JB):               13.402
Skew:                           0.146   Prob(JB):                      0.00123
Kurtosis:                       3.712   Cond. No.                     2.02e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.02e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

### From the beginning we have a problem with our money-based variables. The coefficients are very small. So lets consider them in an either thousands of dollars specifcation or a log specification

In [104]:
df["log_public_school_tuition"] = np.log(df['public_school_tuition'])
df["public_school_tuition_thousands"] = df["public_school_tuition"]/1000
df["log_expenditures_per_student"] = np.log(df['expenditures_per_student'])
df["expenditures_per_student_thousands"] = df["expenditures_per_student"]/1000

C:\Users\isaac\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\isaac\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\isaac\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\isaac\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [105]:
df.head()

,completion,public_school_tuition,expenditures_per_student,adm_rate,pell_grant_rate,log_public_school_tuition,public_school_tuition_thousands,log_expenditures_per_student,expenditures_per_student_thousands
0,0.0643,15567.0,5888.0,0.8738,0.7039,9.652909,15.567,8.680672,5.888
1,0.3018,16475.0,17055.0,0.5814,0.3525,9.709599,16.475,9.744199,17.055
3,0.1533,19423.0,10558.0,0.7628,0.2949,9.874213,19.423,9.264639,10.558
4,0.0725,15037.0,7889.0,0.4590,0.7815,9.618269,15.037,8.973225,7.889
5,0.4385,21676.0,10478.0,0.5259,0.1938,9.983961,21.676,9.257033,10.478

### Let's run the model with log specifications. The interpretation is that for each percent increase in costs/tuition, the completion rate should be effected by some percentage of 100.

In [106]:
import statsmodels.formula.api as sm

reg2 = sm.ols(formula='completion ~ log_public_school_tuition + log_expenditures_per_student + adm_rate + pell_grant_rate', data=df).fit()
reg2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             completion   R-squared:                       0.471
Model:                            OLS   Adj. R-squared:                  0.467
Method:                 Least Squares   F-statistic:                     119.7
Date:                Fri, 19 Oct 2018   Prob (F-statistic):           5.24e-73
Time:                        22:40:15   Log-Likelihood:                 357.14
No. Observations:                 543   AIC:                            -704.3
Df Residuals:                     538   BIC:                            -682.8
Df Model:                           4
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
Intercept                       -1.5088      0.211     -7.141      0.000      -1.924      -1.094
log_public_school_tuition        0.0909      0.018      5.179      0.000       0.056       0.125
log_expenditures_per_student     0.1340      0.016      8.614      0.000       0.103       0.165
adm_rate                        -0.1694      0.033     -5.117      0.000      -0.234      -0.104
pell_grant_rate                 -0.4502      0.047     -9.594      0.000      -0.542      -0.358
==============================================================================
Omnibus:                       23.999   Durbin-Watson:                   1.470
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               42.827
Skew:                           0.295   Prob(JB):                     5.01e-10
Kurtosis:                       4.243   Cond. No.                         523.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### The log spec dropped the r^2, but had easily interperable coefficients

### Let's try the thousands spec

In [107]:
import statsmodels.formula.api as sm

reg3 = sm.ols(formula='completion ~ public_school_tuition_thousands + expenditures_per_student_thousands + adm_rate + pell_grant_rate', data=df).fit()
reg3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             completion   R-squared:                       0.513
Model:                            OLS   Adj. R-squared:                  0.510
Method:                 Least Squares   F-statistic:                     141.9
Date:                Fri, 19 Oct 2018   Prob (F-statistic):           1.01e-82
Time:                        22:40:15   Log-Likelihood:                 379.80
No. Observations:                 543   AIC:                            -749.6
Df Residuals:                     538   BIC:                            -728.1
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================================
                                         coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
Intercept                              0.2612      0.043      6.055      0.000       0.176       0.346
public_school_tuition_thousands        0.0121      0.001      8.459      0.000       0.009       0.015
expenditures_per_student_thousands     0.0121      0.001      9.125      0.000       0.010       0.015
adm_rate                              -0.1616      0.032     -5.037      0.000      -0.225      -0.099
pell_grant_rate                       -0.4007      0.044     -9.025      0.000      -0.488      -0.313
==============================================================================
Omnibus:                        9.553   Durbin-Watson:                   1.527
Prob(Omnibus):                  0.008   Jarque-Bera (JB):               13.402
Skew:                           0.146   Prob(JB):                      0.00123
Kurtosis:                       3.712   Cond. No.                         202.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### Here the r^2 remained higher. So it probably makes more sense to keep the thousands specification. Here the coefficients are much more interperable than before. For every thousand dollars more the school charges in tuition, the likelihood of degree completion increases by 1.21%. The same can be said of the impact of an extra thousand dollars in expenditures.

### Next lets see whether the r^2 improves without an intercept

In [109]:
import statsmodels.formula.api as sm

reg4 = sm.ols(formula='completion ~ public_school_tuition_thousands + expenditures_per_student_thousands + adm_rate + pell_grant_rate - 1', data=df).fit()
reg4.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             completion   R-squared:                       0.861
Model:                            OLS   Adj. R-squared:                  0.860
Method:                 Least Squares   F-statistic:                     834.0
Date:                Fri, 19 Oct 2018   Prob (F-statistic):          3.08e-229
Time:                        22:41:42   Log-Likelihood:                 361.90
No. Observations:                 543   AIC:                            -715.8
Df Residuals:                     539   BIC:                            -698.6
Df Model:                           4
Covariance Type:            nonrobust
======================================================================================================
                                         coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
public_school_tuition_thousands        0.0168      0.001     13.603      0.000       0.014       0.019
expenditures_per_student_thousands     0.0160      0.001     13.359      0.000       0.014       0.018
adm_rate                              -0.0462      0.027     -1.734      0.083      -0.099       0.006
pell_grant_rate                       -0.2091      0.032     -6.502      0.000      -0.272      -0.146
==============================================================================
Omnibus:                       11.988   Durbin-Watson:                   1.580
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               15.622
Skew:                           0.226   Prob(JB):                     0.000405
Kurtosis:                       3.698   Cond. No.                         125.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### So far our model has four independent variables. When we add an intercept adm_rate becomes insignificant at the 95% level. But since the r^2 is high and this is a predictive model we can leave it for now. Our next step can testing the model specification with a split test. To do this we first need to employ a regression method that is amenable to a split test. Let's load some libraries

In [111]:
%matplotlib inline

import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn

In [130]:
from sklearn.linear_model import LinearRegression
X = df.drop(['completion', "public_school_tuition", "expenditures_per_student", "log_public_school_tuition", "log_expenditures_per_student"], axis = 1)

lm = LinearRegression(fit_intercept=False)
lm

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=1, normalize=False)

In [131]:
lm.fit(X, df.completion)

LinearRegression(copy_X=True, fit_intercept=False, n_jobs=1, normalize=False)

### Let's check some coefficients to be sure they match with our previous model

In [132]:
reg4.params

public_school_tuition_thousands       0.016821
expenditures_per_student_thousands    0.016007
adm_rate                             -0.046230
pell_grant_rate                      -0.209113
dtype: float64

In [133]:
pd.DataFrame(list(zip(X.columns, lm.coef_)), columns = ["features", 'estimated coefficients'])

                             features  estimated coefficients
0                            adm_rate               -0.046230
1                     pell_grant_rate               -0.209113
2     public_school_tuition_thousands                0.016821
3  expenditures_per_student_thousands                0.016007

### Great our models match, that's a good start, let's split test